## Instalação de bibliotecas

In [43]:
# https://pyautogui.readthedocs.io/en/latest/quickstart.html
# !pip install pyautogui
# !pip install openpyxl
# !pip install pandas

## Importação de bibliotecas

In [44]:
import pyautogui as pg
import time
import pandas as pd

## Lógica de Negócios

### 1- Entrar no sistema da empresa.

In [45]:
pg.PAUSE = 1 #tempo de espera entre os comandos

pg.press('win')
pg.write('edge')
pg.press('enter')
pg.write('https://dlp.hashtagtreinamentos.com/python/intensivao/login')
pg.press('enter')

#tempo de espera para carregar a página
time.sleep(3)

### 2- Fazer Login

In [46]:
#clicar na tela para garantir que o cursor está no lugar certo
pg.click(x=820, y=460)
pg.write('jeffersonpedro05@gmail.com')
pg.press('tab')
# pg.click(x=768, y=585) ou posso usar o clique relativo
pg.write('123456')

pg.press('tab')
pg.press('enter')

### 3- Importar a base de dados

In [47]:
tabela = pd.read_csv("produtos.csv")
display(tabela)

,codigo,marca,tipo,categoria,preco_unitario,custo,obs
0,MOLO000251,Logitech,Mouse,1,25.95,6.5,NaN
1,MOLO000192,Logitech,Mouse,2,19.95,5.0,NaN
2,CAHA000251,Hashtag,Camisa,1,25.00,11.0,NaN
3,CAHA000252,Hashtag,Camisa,2,25.00,11.0,Conferir estoque
4,MOMU000111,Multilaser,Mouse,1,11.99,3.4,NaN
...,...,...,...,...,...,...,...
288,ACAP000192,Apple,Acessorios,2,19.00,3.8,NaN
289,ACSA0009.3,Samsung,Acessorios,3,9.55,2.1,NaN
290,CEMO000271,Motorola,Celular,1,279.00,72.5,NaN
291,FOMO000152,Motorola,Fone,2,150.00,33.0,NaN
292,CEMO000223,Motorola,Celular,3,229.00,55.0,NaN

### 4- Cadastrar um produto

In [ ]:
time.sleep(2)

for linha in tabela.index:

    #codigo
    codigo = tabela.loc[linha, "codigo"]
    pg.click(x=826, y=304)
    pg.write(codigo)
    pg.press('tab')

    #marca
    marca = tabela.loc[linha, "marca"]
    pg.write(marca)
    pg.press('tab')

    #tipo
    tipo = tabela.loc[linha, "tipo"]
    pg.write(tipo)
    pg.press('tab')

    #categoria
    categoria = tabela.loc[linha, "categoria"]
    pg.write(str(categoria))
    pg.press('tab')

    #preço
    preco = tabela.loc[linha, "preco_unitario"]
    pg.write(str(preco))
    pg.press('tab')

    #custo
    custo = tabela.loc[linha, "custo"]
    pg.write(str(custo))
    pg.press('tab')

    #obs
    obs = str(tabela.loc[linha, "obs"])

    if obs != 'nan' and obs != 'NaN':
        pg.write(obs)
    pg.press('tab')

    #Enviar dados
    pg.press('enter')

    pg.scroll(10000) #rola a página para cima

### 5- Repetir o passo 4 para todos os campos